<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PROJECTES ETPX</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <section id="nav-bar" class="container">
    <header class="nav-bar">
      <div class="brand" style="display: flex; align-items: center;">
        <a>
          <img src="../images/logo.png" alt="Logo del sitio" style="width: 60px; height: 80px; padding: 10px;">
        </a>
        <a style="color: whitesmoke; margin: 0 0 0 5px;">ETP XAVIER</a>
      </div>

      <div class="nav-list">
        <div class="hamburger">
          <div class="bar"></div>
        </div>
        <ul>
          <li><a href="../index.html">PROJECTES</a></li>
        </ul>
      </div>
    </header>
  </section>

  <section id="services" class="services container">
    <div class="services-header">
      <h1 class="services-header-heading" style="margin-bottom: 30px; margin-top: 50px;">
        CURES AUX. I ENFERMERIA
      </h1>
      <br>
    </div>


    <div class="services-info">
      <div class="service">
        <div class="service-card" style="transform: none !important;">
          <div class="service-front" id="cava1">
          </div>
        </div>
      </div>
      <div class="service">
        <div class="service-card" style="transform: none !important;">
          <div class="service-front" id="port1">
          </div>
        </div>
      </div>
      <div class="service">
        <div class="service-card" style="transform: none !important;">
          <div class="service-front" id="port2">
          </div>
        </div>
      </div>
    </div>

    <div class="services-header">
      <h2 class="services-header-heading" style="margin-bottom: 30px; margin-top: 100px; font-size: 3rem !important;">
        PROJECTE PORT
      </h2>
      <hr>
    </div>


    <div class="services-info text-section three-columns"
      style="text-align: justify; font-size: 1.6em; margin-top: 30px;">

      <div class="column">
        <img src="../images/port2.jpg" alt="Descripción de la imagen" style="width: 100%; height: auto;">

      </div>
      <div class="column">
        <p>Un celler del Penedès productor de Cava va començar ara fa 20 anys produint i venent cava a Catalunya. Des
          del
          2010, va començar a vendre a la resta d’Espanya; i ja al 2014 es va atrevir amb el mercat europeu.</p><br>

        <p>Ara, al 2023 i quan el pitjor de la pandèmia sembla que ja ha passat, s’està plantejant exportar cava a
          Àsia i/o
          Oceania. Amb aquest objectiu han buscat experts en comerç internacional i en el mercat del cava a
          Àsia/Oceania per
          a que elaborin un estudi complet que els orienti i els serveixi com a pauta per a l’expansió.</p>

        <br>
        <p>Aquest estudi haurà d’incloure: una prospecció i anàlisi de mercat; la informació sobre la gestió
          administrativa,
          comercial i logística necessària per a l’exportació, així com accions de comunicació digital per donar-se a
          conèixer en aquest nou mercat.</p>

      </div>

      <div class="column">
        <p>L’empresa vitivinícola que us fa l’encàrrec és conscient que, per posicionar-se al mercat asiàtic i
          d’Oceania,
          caldrà fer una nova identitat corporativa (nom, marca, logos, varietats de cava, etc.) específica per a
          l’exportació a aquests continents.</p>
      </div>
    </div>


    <div class="services-header">
      <h2 class="services-header-heading" style="margin-bottom: 30px; margin-top: 100px; font-size: 3rem !important;">
        PROJECTE CAVA
      </h2>
      <hr>
    </div>


    <div class="services-info text-section three-columns"
      style="text-align: justify; font-size: 1.6em; margin-top: 30px;">

      <div class="column">
        <p>Un celler del Penedès productor de Cava va començar ara fa 20 anys produint i venent cava a Catalunya. Des
          del
          2010, va començar a vendre a la resta d’Espanya; i ja al 2014 es va atrevir amb el mercat europeu.</p><br>

        <p>Ara, al 2023 i quan el pitjor de la pandèmia sembla que ja ha passat, s’està plantejant exportar cava a
          Àsia i/o
          Oceania. Amb aquest objectiu han buscat experts en comerç internacional i en el mercat del cava a
          Àsia/Oceania per
          a que elaborin un estudi complet que els orienti i els serveixi com a pauta per a l’expansió.</p>
      </div>

      <div class="column">
        <p>Aquest estudi haurà d’incloure: una prospecció i anàlisi de mercat; la informació sobre la gestió
          administrativa,
          comercial i logística necessària per a l’exportació, així com accions de comunicació digital per donar-se a
          conèixer en aquest nou mercat.</p><br>

        <p>L’empresa vitivinícola que us fa l’encàrrec és conscient que, per posicionar-se al mercat asiàtic i
          d’Oceania,
          caldrà fer una nova identitat corporativa (nom, marca, logos, varietats de cava, etc.) específica per a
          l’exportació a aquests continents.</p>
      </div>

      <div class="column">
        <p>També, la creació d’una nova empresa filial, per a gestionar aquest mercat.</p><br>

        <p>A partir de la guia “Treball cooperatiu: L’exportació de cava a Àsia” elaboreu l’informe que haureu de
          presentar
          als responsables del celler.</p>
      </div>
    </div>



  </section>

  <footer id="footer" class="footer container">
    <div class="footer-contact">
      <h1 class="footer-contact-heading">ETP XAVIER</h1>
      <p class="footer-contact-info">Av. de Francesc Cambó, 12</p>
      <p class="footer-contact-info">Telèfon: 93 319 17 00</p>
    </div>
    <div class="footer-social-follow">
      <h1 class="footer-social-follow-heading">Segueix-nos!</h1>
      <div class="footer-social-icon">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram-square"></i></a>
        <a href="#"><i class="fab fa-behance-square"></i></a>
        <a href="#"><i class="fab fa-dribbble-square"></i></a>
      </div>
    </div>
  </footer>
</body>

</html>